# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# YOLO datasets and weights
runs/
dataset/
data/
models/
*.md
!README.md
!CONTRIBUTING.md
!SECURITY.md
!docs/**
!.github/**
# Logs
*.log
# Json 
*.json
# jpg
*.jpg
# png
*.png
!docs/assets/**
# Build files
build/
dist/
