# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# YOLO datasets and weights
runs/
dataset/
data/
models/
*.md
# Logs
*.log
# Json 
*.json
# jpg
*.jpg
# png
*.png
# Build files
build/
dist/
